/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Dosis', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Catamaran', sans-serif;
*/


body {
    background-color: #f3f3f3;
    color: #717171;
    font-family: 'Roboto', sans-serif;
}

.titlebanner{
    text-align: center;

}

.navbar{

}

.footer{
    text-align: center;
}

.thumbnail{
    /*width:200px;*/
    /*fit:crop;*/
}

.img-fluid {
    width: 500px;
    height: 500px;
    object-fit: cover;
}


