<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600|Catamaran|Dosis|Lato|Libre+Baskerville:400,400i|Montserrat|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i|Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">

</head>

<body style="background-color: rgba(117,221,195,0.25)">

<div class="container" >

    <div class="row">
        <div class="col-12" style="text-align: center">
            <div th:replace="base :: title"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="text-align: center">
            <div th:replace="base :: navlinks"></div>
        </div>
    </div>


    <div class="team"></div>
    <br>
    <br>
    <h1 style="text-align: center">Our Team</h1>
    <div class="row">
        <div class="col-md-4 profile-pic text-center">
            <div class="img-box">
                <img src="1498222632-anthony-edwards-in-top-gun.jpg" class="img-responsive">
            </div>
            <h2>Max</h2>
            <h3></h3>
            <p>Push it to the limit when you're in the Danger Zone.
               I sit in the front so I don't get called on.</p>
        </div>

        <div class="col-md-4 profile-pic text-center">
            <div class="img-box">
                <img src="64bc0cdc847294d40c421255af8600ae.jpg" class="img-responsive">
            </div>
            <h2>Kristyn</h2>
            <h3></h3>
            <p>A fierce amazonian warrior.  She is the Queen of Potlucks.
                Don't mess with my sushi skills, I am an ex-starbucks barista (so I know a latte)</p>
        </div>

        <div class="col-md-4 profile-pic text-center">
            <div class="img-box">
                <img src="top-gun-tom-cruise-1.jpeg" class="img-responsive">
            </div>
            <h2>James</h2>
            <h3></h3>
            <p>Coffee coffee coffee, coffee coffee.
                I also have a dog.  He is a spoiled boi.</p>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
    <br>
    <br>

    <h1 style="margin: auto">About Us</h1>
    <p>The A-Team revolves around the four members of a former commando outfit, now mercenaries. Their leader is
        Lieutenant Colonel/Colonel John "Hannibal" Smith, whose plans tend to be unorthodox but effective. </p>
    <p>Lieutenant Templeton Peck, usually called "Face" or "Faceman", is a smooth-talking con man who serves as the team's appropriator of
        vehicles and other useful items, as well as the team's second-in-command. The team's pilot is Captain H.M.
        "Howling Mad" Murdock, who has been declared insane and lives in a Veterans' Administration mental institution
        for the show's first four seasons. </p>
    <p>Finally, there is the team's strong man, mechanic and Sergeant First Class Bosco "B.A.", or "Bad Attitude", Baracus (Mr. T).</p>

    </div>
</div>



<div th:replace="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>