<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600|Catamaran|Dosis|Lato|Libre+Baskerville:400,400i|Montserrat|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i|Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">

</head>

<body>

<!--title template-->
<div class="titlebanner" th:fragment="title">
    <h1>Peppy Peter's Perfect Potluck!</h1>
</div>

<!--navbar template-->
<div class="navbar" th:fragment="navlinks">
    <hr>
    <p><a href="/index">HOME</a> | <a href="/about">ABOUT</a> | <a href="/add">ADD ITEM</a></p>
    <hr>
</div>

<!--footer template-->
<div class="footer" th:fragment="footer">
    <hr>
    <footer>
        <div class="footer-social-links">
            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
    <br>
    <br>
    </footer>

</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>
</html>