<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600|Catamaran|Dosis|Lato|Libre+Baskerville:400,400i|Montserrat|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i|Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-12" style="text-align: center">
            <div th:replace="base :: title"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="text-align: center">
            <div th:replace="base :: navlinks"></div>
        </div>
    </div>

    <div class="row">

        <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-left">

                <div th:each="potluck : ${potlucks}" class="col-lg-3 col-md-4 col-6">

                    <div th:if="${potluck.image} !=null">
                        <div class="d-block mb-4 h-100">
                            <h4 style="text-align: center; font-family: 'Gochi Hand', cursive" th:text="${potluck.name}"></h4>
                            <a th:href="${potluck.recipe}" target="_blank" >
                                <img style="height: 250px" class="img-fluid" th:src="${potluck.image}" alt="">
                            </a>
                            <p style="text-align: center; opacity: 70%; font-family: 'Comfortaa', sans-serif; font-size: small" th:text="${potluck.dish}"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-6">

                    <a href="/add" class="d-block mb-4 h-100" style="background-color: #f7f7f7">
                        <h3 style="text-align: center">Join the Party!</h3>
                        <img style="height:250px; object-fit: scale-down" class="img-fluid" src="10-106139_click-hand-cursor-png-transparent-png.png" alt="">
                    </a>
                </div>
            </div>
        </div>


<!--    style="background: #db86cb; min-height: 230px"-->
<!--    style="height: 250px; background: #db86cb"-->


</div>




<div th:replace="base :: footer"></div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>






<!--

    <div class="row">
        <div th:each="potluck : ${potlucks}">
            <div th:if="${potluck.image} !=null">
                <img th:src="${potluck.image}" /><hr />
            </div>
        </div>

    </div>

-->